body {
  background-color: Gainsboro;
}

div {
  border-style: solid;
  border-width: thin;
  border-color: black;
  width: 100%;
  margin: 2px 0px 2px 0px;
}

.row-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.column-display {
  display: flex;
  flex-direction: column;
}

.chart-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 600px;
  width: 100%;
}

.header {
  justify-content: center;
  align-items: center;
}

.single-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 400px;
  margin: 0px 10px 0px 10px;
}

.centered-text {
  text-align: center;
  padding: 0% 20% 0% 20%;
}

#survey-prompt {
  display: flex;
  justify-content: center;
  align-items: center;
}

#clear-local-storage {
  display: none;
}

h1 {
  font-family: serif;
  font-size: 50px;
}

p {
  font-family: sans-serif;
  font-size: 16px;
}

img {
  border-style: solid;
  border-width: thin;
  border-color: black;
  max-height: 95%;
  max-width: 95%;
  padding: 5px 5px 5px 5px;
  background-color: white;
}

button {
  padding: 5px 15px 5px 15px;
  margin: 0px 5px 0px 5px;
}
