body {
  border-style: solid;
  border-width: thin;
  border-color: black;
  margin: 5px 5px 5px 5px;
  height: 1000px;
}

main {
  border-style: solid;
  border-width: thin;
  border-color: black;
  height: 100%;
  width: 100%;
}

article {
  border-style: solid;
  border-width: thin;
  border-color: black;
  height: 30%;
  width: 100%
}

.div-container {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-width: thin;
  border-color: black;
  height:70%;
  width: 100%;
}

img {
  max-width: 33%;
}
